<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calorie Calculator</title>

	<!-- CSS -->
	<!-- load bootstrap and custom css -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- JS -->
	<!-- load angular, angular-bootstrap, and custom angular app -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body class="container" ng-app="calcApp" ng-controller="mainController">

<div class="row">
	<div class="col-sm-6">
		
	</div>
	<div class="col-sm-6">
		
	</div>
</div>
	
</body>
</html>